[submodule "modules/Chibios"]
	path = modules/Chibios
	url = https://github.com/CubePilot/Chibios
[submodule "modules/dronecan_dsdlc"]
	path = modules/dronecan_dsdlc
	url = https://github.com/dronecan/dronecan_dsdlc
[submodule "modules/DSDL"]
	path = modules/DSDL
	url = https://github.com/CubePilot/DSDL
[submodule "modules/libcanard"]
	path = modules/libcanard
	url = https://github.com/DroneCAN/libcanard
[submodule "modules/googletest"]
	path = modules/googletest
	url = https://github.com/google/googletest
[submodule "modules/ChibiOS"]
	path = modules/ChibiOS
	url = git@github.com:CubePilot/ChibiOS
